* {
  margin: 0;
  padding: 0;
  text-decoration: nome;
  list-style: none;
}
body {
  background-color: #191919;
  font-family: Century Gothic;
}
header{
  height: 100px;
  width: 100vw;
  background-size: cover;
  background-color: #3e5f3e;
}
.navbar {
  position: absolute;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
}
.navbar a {
  color: #e7e7e7;
}
.navbar .logo {
  font-size: 1cm;
  font-weight: bold;
  align-items: auto;
  text-decoration: none;
}
.navbar .nav-links ul {
  display: flex;
  text-decoration: none;

}
.navbar .nav-links ul li {
  margin: 0 25px;
}
.navbar .nav-links ul li a {
  text-decoration: none;
}

.navbar .nav-links ul li.active a {
  color: #3c943c;
  font-weight: 600;
  margin: 0;
  border: none;
  background-color: white;
  padding: 10px 25px;
  border-radius: 30px;
}
.menu:hover {
color:#3c943c;
transition: .5s;
}

.navbar .menu-hamburger {
  display: none;
  position: absolute;
  top: 25px;
  right : 40px;
  width: 35px;
}
.mobile-menu{
  margin-left: 0;
}

@media screen and (max-width : 900px) {
.navbar .logo {
      position: absolute;
      top: 25px;
      left: 170px;
      font-size: 1cm;
      font-weight: bold;
  }
  .navbar{
      padding: 0;
  }
  .navbar .menu-hamburger {
      display: block;
  }

.nav-links {
      top : 0;
      left: 0;
      position: absolute;
      background-color: #ffffff25;
      backdrop-filter: blur(7px);
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: -100%;
      transition: all 1s ease;
  }
  .nav-links.mobile-menu{
      margin-left: 0;
  }
  .nav-links ul {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .navbar .nav-links ul li {
      margin: 25px 0;
  }
}
@media screen and (min-width : 300px) and (max-width : 500px) {
  header{
      height: 14vh;
      width: 100%;
      background-size: cover;
      background-color: #3e5f3e;
   }
  .navbar .logo {
        position: absolute;
        top: 15px;
        left: 100px;
        font-size: 1cm;
        font-weight: bold;
    }
    .navbar .logoimg {
      display: flex;
      position: absolute;
      top: 0px;
      left : 10px;
      width: 75px;
    }
    .navbar{
        padding: 0;
    }
    .navbar .menu-hamburger {
        display: block;
        top: 25px;
        right : 20px;
        width: 35px;
    }
  .nav-links {
        top : 0;
        left: 0;
        position: absolute;
        background-color: #ffffff25;
        backdrop-filter: blur(7px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 1s ease;
    }
    .nav-links.mobile-menu{
        margin-left: 0;
    }
    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar .nav-links ul li {
        margin: 25px 0;
    }
}

  
.container{
  margin-top: 20px;
    margin-left: 2%;
    padding: 1px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    text-decoration-color: #ffffff;
}
.card {
    margin-left: 50%;
    padding: 1px;
    display: grid;
    grid-template-rows: max-content 200px 1fr;
    background-color: #3e5f3e;
    width: 600px;
    height: auto;
    margin : 5px;
    border-radius: 15px;
    
}
.card-image{
    background-color: #3e5f3e;
    height: 400px;
    margin-bottom: 0;
    border-radius: 15px 15px 0 0;
}
#titre, #texte {
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.titre {
  font-family: Century Gothic;
  color: #ffffff;
  letter-spacing: 2px;
}
h2 {
    color: #ffffff;
}