body {
    background-color: #191919;
    background-repeat: no-repeat;
    background-attachment : scroll;
    background-size: cover;
}
html {
    box-sizing: border-box;
}
.titre {
    color: #ffffff;
    letter-spacing: 2px;
    border-bottom: 2px solid #e7e7e7;
}
#title{
    background :#3e5f3e;
    height: 50px;
}

summary {
    writing-mode: vertical-lr;
    text-align: center;
    padding: 12px 10px;
    width: 23px;
    height: 17px;
    background-color: var(--primColor);
    border: 2px solid white;
    border-radius: 15px;
    color: var(--secoColor);
    cursor: pointer;
    user-select: none;
    outline: none;
    transition: transform 200ms ease-in-out 0s;
  }
  summary::before,
  summary::after {
    position: static;
    top: 0;
    left: 0;
  }
  summary::before {
    content: "";
  }
  summary::after {
    content: "lll";
    color: white;
    letter-spacing: 0px;
    text-align: center;
    margin-left: 20px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  summary:hover {
    transform: scale(1.1);
  }
  summary::marker {
    font-size: 0;
  }
  summary::-webkit-details-marker {
    display: none;
  }
  details[open] .menu {
    animation-name: menuAnim;
  }
  details[open] summary::before {
    content: "X";
    color: white;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  details[open] summary::after {
    content: "";
  }
  .menu {
    border-bottom: 50px;
    height: auto;
    width: fit-content;
    border-radius: 15px;
    background-color: #3e5f3e;
    box-shadow: 0 4px 12px 0 #ffffff;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    animation: closeMenu 300ms ease-in-out forwards;
  }
  .menu a {
    padding: 12px 24px;
    margin: 0 16px;
    color: rgb(255, 255, 255);
    font-family: Bradley Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-bottom: 1px solid white;
    text-decoration: none;
    text-align: center;
    transition: filter 200ms linear 0s;
    height: auto;
  }
  .menu{
    color : white
  }
  .menu a:nth-of-type(1) {
    padding-top: 24px;
  }
  .menu a:nth-last-of-type(1) {
    border-bottom: none;
  }
  .menu a:hover {
    filter: brightness(50%);
    background-color: #3e5f3e;
    padding: 2mm;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  details::before {
    content: "← Cliquez pour dérouler le menu";
    color: white;
    position: absolute;
    margin-left: 80px;
    padding: 10px 10px;
    opacity: 0.7;
  }
  details[open]::before {
    animation: fadeMe 300ms linear forwards;
  }
  @keyframes menuAnim {
    0% {
      height: 0;
    }
    100% {
      height: 312px;
    }
  }
  @keyframes fadeMe {
    0% {
      opacity: 0.4;
    }
    100% {
      opacity: 0;
    }
  }
  
.container{
    margin-left: 2%;
    padding: 1px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    text-decoration-color: #ffffff;
}
.card {
    margin-left: 50%;
    padding: 1px;
    display: grid;
    grid-template-rows: max-content 200px 1fr;
    background-color: #3e5f3e;
    width: 300px;
    height: 500px;
    margin : 5px;
    border-radius: 15px;
    
}
#pub {
    text-align: center;  
}
.card-image{
    background-color: #3e5f3e;
    height: 400px;
    margin-bottom: 10px;
    border-radius: 15px 15px 0 0;
}
#TM {
    /*background-image: url("https://i.f1g.fr/media/eidos/orig/2022/07/15/XVM4e902ee6-0441-11ed-bff5-2b04aed927b3.jpg");*/
    background-size: cover;
    background-position: fixed;
}
#IM {
    /*background-image: url("https://mondedulivre.hypotheses.org/files/2014/03/Meilleures-ventes-Japon-manga-2013-640x480.jpg");*/
    background-size: cover;
    display: flex;
    align-items: center;
}
#pub1 {
    /*background-image: url("https://oss4lib.org/wp-content/uploads/2022/07/top-mangas-en-ligne.webp");*/
    background-size: cover;
}

#pub2{
    /*background-image: url("https://paoru.fr/wp-content/uploads/2013/12/Best-sellers-Mangas-Japon-2013.jpg");*/
    background-size: cover;
}
#haut{
    color: black;
    font-family: Bradley Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#titre, #texte {
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*  !!! M & M avec la tête du priemier M sur la fin du deuxième M  */
h2 {
    border-bottom: 1px solid #e7e7e7;
    color: #ffffff;
}